/*navigation sidebar*/
#home {
    display: block;
    margin: auto;
    width: 55%;
    margin-top: 18vh;
    padding-bottom: 0px;
}
.navcontainer {
    margin-top: 2vh;
    padding-bottom:5rem;
 
}

#nav {
    text-align: center;
    font-size: 0.7vw;
    font-weight: 500;
    width: 13%;
    height: 100vh;
    position: fixed;
    top: 0;
    margin: 0px;
    padding-left: 0px;
    background-color: #26292d;
    overflow: auto;
    z-index: 1;
}
ul li {
    list-style-type: none;
    position: relative;
    display: inline;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    text-transform: uppercase;
    float: left;
    text-align: center;
}

li a, .dropbtn {
    display: inline-block;
    font-family: 'Mukta Vaani', sans-serif;
    color: lightgrey;
    letter-spacing: 0.1em;
    padding: 0.2vw 0vw;
    text-decoration: none;
    width: 100%;
}
li a:hover, .dropdown:hover .dropbtn:hover {
    color: darkgrey;
}
li.dropdown {
    display: inline-block;
    font-family: 'Mukta Vaani', sans-serif;
    color: darkgrey;
    text-decoration: none;
    display: block;
}
.dropitems a, .dropitems2 a  {
  padding-top: 0;
}

/*applies only to pages that aren't in personal or art*/
/*
.dropitems, .dropitems2 {
    display: none;
    text-align: center;
    position: relative;
    width: 100%;
        font-weight:200;
   text-transform:none;
}
*/



