/*animate it*/
.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

@-webkit-keyframes fadeIn {
    from ( opacity: 0; )
    to ( opacity: 1; )
}
@keyframes fadeIn {
    from ( opacity: 0; )
    to (opacity: 1; )
}

/* headings */
.title {
    margin-top: 30px;
}
.heading {
    padding: 0;
    text-align: left;
    float: right;
    width: 79%;
}
/*navigation sidebar*/
html, body {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

#home {
    display: block;
    margin: auto;
    width: 55%;
    margin-top: 22vh;
    padding-bottom: 0px;
}
.navcontainer {
    margin-top: 3vh;
}
#nav {
    text-align: center;
    font-size: 1vw;
    width: 13%;
    height: 100%;
    position: fixed;
    margin: 0px;
    padding-left: 0px;
    background-color: #26292d;
    overflow: auto;
    z-index: 1;
}
.dropitems {
    text-align: center;
    position: relative;
    width: 100%; 
}
ul li {
    list-style-type: none;
    position: relative;
    display: inline; 
    text-align: center; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    float: left; 
    text-align: center;
}

li a, .dropbtn { 
    display: inline-block;
    font-family: 'Lato', sans-serif;
    color: lightgrey;
    padding: 0.5vw 0vw;
    text-decoration: none;
    width: 100%;
    
}
li a:hover, .dropdown:hover .dropbtn {
    color: darkgrey;
}
li.dropdown {
    display: inline-block;
     font-family: 'Lato', sans-serif;
    color: darkgrey;
    text-decoration: none;
    display: block; 
}

.container {
    padding: 0;
    width: 80%;
    float: left;
}


/*links at bottom*/
.links {
    margin: auto;
    position: fixed;
    bottom: 2vh;
    z-index: 2;
    width: 13%;
    text-align: center;
}
.links img {
    height: 3vh;
    padding: 1vh; 
    margin: auto;
}
.links img.darkableImage {
    opacity:1;
    filter:alpha(opacity=100);
}
/*loader*/

#cs-loader {
    z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: calc(100% - 200px);
  color: darkgrey;
  padding: 0 100px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display:inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#gallery {
  text-align: center;
}


/*illustration masonry*/

html, body {
    width: 100%;
    margin: 0;
    background: #e9e9e9;
}

.masonry {
    width: 85%;
    float: left;
    margin-top: 1em;
    margin-left: 14%;
    
    padding: 0;
    font-size: .85em;
}

.item {
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    padding: 0;
    width: 100%;
}

.galleryill img {
    width: 100%;
    display: inline-block;
}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}


@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}

/*visdev style*/

.visdev {
    float: left;
    margin: auto;
    margin-left: 13%;
    display: block;
    cursor: pointer;
    height: auto;
    transition: 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*modal*/
.viscontainer {padding:0.01em 8vw}
.w3-modal {
    z-index:100;
    display:none;
    text-align: center;
    margin:0;
    position:fixed;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.8);
}
.w3-modal-content {
    z-index: 101;
    margin:0;
    position:relative;
    max-height:100%;
    text-align: center;
}

/*.w3-animate-zoom {animation:animatezoom 0.4s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}*/


/*lightbox*/
/* The Modal (background) */
.modal {
    z-index: 100;
    float: left;
    display: none;
    text-align: center;
    margin:auto;
    position: fixed;
    width:100%;
    height:100vh;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.9);
    
}
.mySlides img {
        -webkit-transition: opacity 2000ms ease-in-out;
      -moz-transition: opacity 2000ms ease-in-out;
        -o-transition: opacity 2000ms ease-in-out;
           transition: opacity 2000ms ease-in-out;
display: block;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

/* The Close Button */
.close {
  z-index: 150;
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Next & previous buttons */
.prev, .next {
z-index:200;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 8px 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 25;
  border-radius: 50%;
}
.prev {
  left: 25;
  border-radius: 50%; /*3px 0 0 3px*/
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

