/*index style*/


/*bg image*/
@import "compass/css3";

@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.bgimage {
    background-image: url(attackresize.png);
 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    opacity: 0;
  
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0.2s;
}

.bgimage.visible {
  opacity: 1;
}

/*title*/
header {
    font-family: 'Alegreya Sans SC', sans-serif;
    z-index: 3;
    float: left;
    text-align: center;
    margin-top: 270px;
    margin-left: 13%;
    color: white;
    line-height: 2px;
    letter-spacing: 5px;
    width: 87%;
}
.myname{
    font-size: 80px;
}
.subtitle{
    font-size: 30px;
}


/*navigation sidebar*/
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
#home {
    display: block;
    margin: auto;
    width: 40%;
    margin-top: 190px;
    padding-bottom: 0px;
}
.navcontainer {
    margin-top: 40px;
}
#nav {
    text-align: center;
    font-size: 13px;
    width: 13%;
    height: 100%;
    position: fixed;
    margin: 0px;
    padding-left: 0px;
    background-color: #26292d;
    min-height: 600px;
    overflow: auto;
    z-index: 1;
}
.dropitems {
    margin-left: -40px;
    display: none;
    padding-left: 0px;
}
li {
    list-style-type: none;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}
li a, .dropbtn { 
    display: inline-block;
    font-family: 'Lato', sans-serif;
    color: lightgrey;
    padding: 8px 40px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    color: darkgrey;
}
li.dropdown {
    display: inline-block;
     font-family: 'Lato', sans-serif;
    color: darkgrey;
    text-decoration: none;
    display: block; 
}

/*about section*/
#sig {
    float: left;
    margin-left: 25%;
    margin-top: 13%;
    height: 260px;
}

.wrap {
    background: white;
    opacity: 0.85;
    display: block;
    position: absolute;
    margin-top: 800px;
    height: 100%;
    animation:opac 0.5s}@keyframes opac{from{opacity:0} to{opacity:1}
} 
.aboutsection {
    margin-left: 520px;
    margin-right: 270px;
}
h1.aboutsection {
    margin-top: 200px;
    font-size: 200%;
}
p.aboutsection {
    line-height: 1.8em;
}

/*links at bottom*/
.links {
    margin: auto;
    position: fixed;
    bottom: 30px;
    z-index: 2;
    width: 13%;
    text-align: center;
}
.links img {
    height: 25px;
    padding: 10px; 
    margin: auto;
}
.links img.darkableImage {
    opacity:1;
    filter:alpha(opacity=100);
}


