.dropitems {
     display: none; 
    text-align: center;
    position: relative;
    width: 100%;
        font-weight:200;
   text-transform:none;
}

.dropitems2 {
     /*display: none; */
    text-align: center;
    position: relative;
    width: 100%;
        font-weight:200;
   text-transform:none;
}